body{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
}

#config{
    background-color:rgba(0, 0, 0, 0.801);
    border:1px solid black;
    border-radius: 7px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5vw;
}

#config > img{
    display: block;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#config:hover{
    background-color:rgb(0, 0, 10);
    transition: 0.8s;
}

#cx-config{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    top:35%;
    margin-top:-100px;
    background-color: rgb(0, 0, 0);
    color: black;
    border:1px solid black;
    border-radius: 7px;
    padding: 10px;
}

.fundo{
    margin-top: 10px;
    background-color: whitesmoke;
    border:1px solid black;
    border-radius: 7px;
    padding: 10px
}

.corFundo, .corLetras{
    margin-right: 10px;
}

#titulo, #txt{
    border:1px solid black;
    border-radius: 7px;
    width: 85%;
    padding: 10px;
}


.fundo > label{
    font-weight: bold;
    margin-right: 5px;
}

#botoes{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#salvar, #cancelar, #resetar{
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: 15px;
    border:1px solid black;
    border-radius: 7px;
    cursor: pointer;
}

#salvar:hover{
    background-color: green;
    color: whitesmoke;
    transition: 0.4s;
}

#cancelar:hover{
    background-color: red;
    color: whitesmoke;
    transition: 0.4s;
}

#resetar:hover{
    background-color: rgba(17, 60, 201, 0.863);
    color: whitesmoke;
    transition: 0.4s;
}

#cx--titulo{
    display: block;
    margin: 50px auto;
    background-color: gray;
    border: 1px solid black;
    width: 50%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#cx-titulo{
    text-align: center;
}

#cx-texto{
    display: block;
    margin: 10px auto;
    background-color: gray;
    border: 1px solid black;
    width: 55%;
    height: 400px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#texto{
    Word-wrap: break-Word;
}

@media screen and (max-width:768px)  {

    body{
        overflow-y: scroll;
        height: 650px;
    }

    #config{
        width: 20vw;
    }
    
    #cx-config{
        width: 85%;
        top:30%;
        font-size: 27px;
    }

    .fundo > input{
        width: 20px;
        height: 20px;
    }


    #salvar, #cancelar, #resetar{
        font-size: 25px;
    }

    #cx--titulo{
        overflow-x: scroll;
        margin: 150px auto 30px auto;
        width: 80%;
    }
    
    #cx-texto{
        overflow-y: scroll;
        margin: 10px auto 50px auto;
        width: 80%;
        height: 700px;
        font-size: 25px;
    }
    
}

@media screen and (max-width:500px)  {

    body{
        overflow-y: scroll;
    }

    #config{
        width: 20vw;
    }
    
    #cx-config{
        width: 85%;
        top:30%;
        font-size: 18px;
    }

    .fundo > input{
        width: 20px;
        height: 20px;
    }

    #salvar, #cancelar, #resetar{
        font-size: 20px;
    }

    #cx--titulo{
        overflow-x: scroll;
        margin: 100px auto 30px auto;
        width: 80%;
        font-size: 12px;
    }
    
    #cx-texto{
        overflow-y: scroll;
        margin: 10px auto 50px auto;
        width: 80%;
        height: 400px;
        font-size: 20px;
    }
    
}